@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%); 
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --Very-Dark-Blue: hsl(234, 12;%, 34%)
    --Grayish-Blue: hsl(229, 6%, 66%); 
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--Very-Light-Gray);
}

.main_header {
    text-align: center;
}

.main_header h1 {
    font-size: 40px;
    font-weight: 200;
    color: var(--Very-Dark-Blue);
    line-height: 50px;
    margin-bottom: 15px;
}

.main_header h1 span {
    font-weight: 600;
}

.main_header p {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.637);
}

.main_content {
    display: flex;
    height: 50vh;
}

.main_content_left, .main_content_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_content_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div_content {
    border-radius: 10px;
    background-color: white;
    height: 150px;
    width: 250px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px;
    padding: 20px;
}

.div_content h2 {
    font-weight: 600;
    background-color: var(--Very-Dark-Blue);
    font-size: 18px;
    margin-bottom: 10px;
}

.div_content p{
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.637);
    margin-bottom: 30px;
}

.div_content .image{
    display: flex;
    justify-content: end;
}

.red {
    border-top: 3px solid var(--Red);
}

.cyan {
    border-top: 3px solid var(--Cyan);
}

.blue {
    border-top: 3px solid var(--Blue);
}

.orange {
    border-top: 3px solid var(--Orange);
}